/**
 * Layout Utilities
 * 
 * Optional utilities for layout and grid objects
 * These are disabled by default assuming your project already has these in place
 * If needed, include this partial at the top of your screen.scss
 */
/**
 * Import Compass 
 */
/**
 * Clearfix
 */
/**
 * Force border-box sizing for everything
 */
/* line 27, ../sass/_utilities.scss */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Grid
 * 
 */
/**
 * grid variables
 */
/**
 * Responsive Width Variables
 *
 * used along with the responsive prefix widths and push/pull utilities
 */
/**
 * Grid Rows and Units
 */
/**
 * Widths
 * 
 * Intrisic and proportional widths to be extended to a grid object
 *
 */
/**
 * Intrinsic widths
 * 
 */
/**
 * Fit Children
 *
 * Make an element shrink wrap its content.
 */
/**
 * Fit Parent
 *
 * Make an element the width of its parent.
 */
/**
 * Make an element fill the remaining space.
 * 
 * Note: This will hide overflow.
 */
/**
 * Proportional widths
 * 
 * Grid unit extenders - specify the proportional width of a grid unit
 */
/**
 * Responsive Prefixed Widths
 * 
 */
/**
 * Push & Pull Utilities
 * 
 */
/**
 * Grid Debug
 * 
 * visually debug grid layouts
 */
/**
 * visual demo styles
 */
