/**
 * Grid
 * 
 */

/**
 * grid variables
 */
$gutter: 10px;
$unit-padding: 0;
$grid-row-spacer: 24px;  //base line height

/**
 * Responsive Width Variables
 *
 * used along with the responsive prefix widths and push/pull utilities
 */
$sm-bp:                                   400px;
$md-bp:                                   700px;
$lg-bp:                                   900px;
$xl-bp:                                   1100px;


/**
 * Grid Rows and Units
 */
%grid-row {
  @extend %cf;
  padding: 0 $gutter;  // outside padding
  margin-bottom: $grid-row-spacer;
}

%grid-unit {
  float:left; 
  padding: $unit-padding 0 $unit-padding $unit-padding;
  &:last-of-type {
    padding-right: 0;
  }
}

%grid-unit-right {
  float:right;
}

